.form-container-light{
  border-radius: $radius;
  background: $l-gray;
  color: $d-gray1;
  padding: 1rem;
  box-shadow: $box-light;
  transition: $transition;
  &:hover{
    box-shadow: $box-dark;

  }
}
.form-container-dark{
  border-radius: $radius;
  background: $d-blue;
  color: $d-lightGray;
  padding: 1rem;

}
