.results {
  background: red;
margin: 1rem 0 0 0;

  .show-results {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .results-end{

    }
  }
}
.line-through{
  text-decoration: line-through;
}
.no-decoration{
  text-decoration: none;
}
