.results {
  //background: $d-gray2;
  margin: 1rem 0 0 0;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  .show-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    //color: $d-lightGray;
    //background: $d-gray1;
    border-bottom: 1px solid $d-gray1;
    //width: 90%;


    .results-start {
      @include flex-start;
      text-transform: capitalize;

      input {
        @include flex-self;
        margin: 0 1rem;
        transform: scale(2);
        cursor: pointer;

      }

      //input[type=radio]:checked + label::before {
      //  background-color: #ffa;
      //}

      p {
        margin: 0;
      }
    }

    .results-end {

      .close-btn {
        background: $l-gray;
        vertical-align: bottom;
        border: none;
        margin-right: 1rem;
        cursor: pointer;
      }
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.no-decoration {
  text-decoration: none;
}
