@import "src/styles/utils/Variables";
.App {
  text-align: center;
  //background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  //color: white;
  //position: relative;
}


.themes-dark{
  background: $d-gray2;
  color: white;
}
.themes-light{
  background: white;
  color: #282c34;
}
.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}






