@import "Variables";
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: $white;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif
}

//code {
//  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//  monospace;
//}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height:100.1%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
