//lightTheme
$white:hsl(0, 0%, 98%);
$l-blue: #e4e5f1; //hsl(236, 33%, 92%)
$l-gray:#d2d3db; //hsl(233, 11%, 84%)
$l-gray1:#9394a5; //hsl(236, 9%, 61%)
 $l-blue:	#484b6a; //hsl(235, 19%, 35%)

$black:#161722;  //hsl(235, 21%, 11%)
$d-blue:#25273c;  //hsl(235, 24%, 19%)
$d-lightGray:#cacde8; //hsl(234, 39%, 85%)
$d-lighterGray:	#e4e5f1; //hsl(236, 33%, 92%)
$d-gray:#777a92; //hsl(234, 11%, 52%)
$d-gray1:#4d5066; //hsl(233, 14%, 35%)
$d-gray2:#393a4c; //hsl(237, 14%, 26%)

//#181824

$box-light: 1px 3px 5px rgba(0,0,0,0.1);
$box-dark: 2px 4px 10px rgba(0,0,0,0.3);

$radius: .3rem;
$transition: all .3s ease;
$letter-spacing: 1.2px;

$font-base: 1.1rem;
$font-sm: 0.75* 1rem;
$font-lg: 3.5* 1rem;

$xs: 480px;
$sm: 600px;
$lg-desktop: 1920px;
